version: "3"
services:
  postgres:
    container_name: postgres_container
    image: postgres
    environment:
      POSTGRES_USER: <yourusername>
      POSTGRES_PASSWORD: <yourpassword>
    ports:
      - "5432:5432"
  web:
    build: .
    ports:
      - "80:80"
